/datastructures-algorithms/*.classpath
/datastructures-algorithms/*.gitignore
/datastructures-algorithms/*.project
/datastructures-algorithms/.settings/*.prefs
/workspace/RemoteSystemsTempFiles/*.project
